<!DOCTYPE html>  
<html>  
<head>  
  <title>一起二</title>  
  <%= stylesheet_link_tag    "application", :media => "all" %>  
  <%= javascript_include_tag "application" %>  
  <%= csrf_meta_tags %>  
</head>  
<body>  
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">

          <div class="well sidebar-nav left">  
            <ul class="nav nav-list">  
              <li class="nav-header">Sidebar</li>  
              <li class="active"><a href="#">Link</a></li>  
              <li><a href="#">Link</a></li>  
              <li><a href="#">Link</a></li>  
              <li><a href="#">Link</a></li>  
              <li class="nav-header">Sidebar</li>  
              <li><a href="#">Link</a></li>  
              <li><a href="#">Link</a></li>  
              <li><a href="#">Link</a></li>  
              <li><a href="#">Link</a></li>  
              <li><a href="#">Link</a></li>  
              <li><a href="#">Link</a></li>  
              <li class="nav-header">Sidebar</li>  
              <li><a href="#">Link</a></li>  
              <li><a href="#">Link</a></li>  
              <li><a href="#">Link</a></li>  
            </ul>  
          </div><!--/.well -->  

        <div class="span9 right">  
             <%= yield %>  
          </div><!--/row-->  
        </div><!--/span-->  
      </div><!--/row-->  
</div>
      <hr>  
      <footer>  
        <p>© By lissdy 2013</p>  
      </footer>  

  
    <!-- Le javascript  
    ================================================== -->  
    <!-- Placed at the end of the document so the pages load faster -->  
    <script src="//cdnjs.bootcss.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>  
    <script src="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>  
  
  </body>  
</html> 
